#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 80%;
}